/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}

/* UTILITIES */

/* LAYOUT */
.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
  padding: 0 15px;
  float: left;
}

/* TIPOGRAPHY */
h1,
h2,
h3 {
  font-weight: 500;
}

h2 {
  color: #000;
  font-size: 25px;
  margin-bottom: 20px;
}

h2.big {
  font-size: 35px;
  line-height: 1.4;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

a {
    color: #5586bc;
}

.text-center {
  text-align: center;
}

/* MENU */
.menu-inline li {
  display: inline-block;
  padding: 0 15px;
}

.menu-inline li:first-child {
  padding-left: 0;
}

.menu-inline li:last-child {
  padding-right: 0;
}

/* BUTTONS */
.btn {
  text-align: center;
  line-height: 25px;
  padding: 5px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  min-width: 100px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-green {
  background: #7cbb02;
  border: none;
}

.btn-large {
  padding: 15px;
}

/* HEADER */
.main-header {
  height: 600px;
  background-color: #0c325a;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: bottom right;
}

.header-nav {
  font-size: 12px;
  line-height: 80px;
  text-transform: uppercase;
}

.header-nav li a {
  color: #fff;
  text-decoration: none;
}

.header-nav .nav-left {
  width: 13%;
}

.header-nav .nav-center {
  width: 47%;
}

.header-nav .nav-right {
  width: 40%;
  text-align: right;
}

.header-nav .nav-left img {
  vertical-align: middle;
  position: relative;
  bottom: 6px;
}

/* JUMBOTRON */
.jumbotron {
  height: 520px;
  position: relative;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #fff;
}

/* MAIN */

/* Intro */
.intro {
  background-color: #d3d3d3;
  padding: 35px 10px;
}

.intro p {
  font-size: 20px;
}

/* Info */
.info {
  height: 560px;
  padding: 35px 10px;
  border-bottom: 1px solid #d3d3d3;
}

.info img {
  height: 200px;
  margin-bottom: 25px;
}

.info h3 {
  color: #7cbb02;
  font-size: 27px;
  line-height: 35px;
}

.info h3::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  margin: 20px auto;
  background-color: #808080;
}

  /* Plan */
.plan .col {
  padding: 50px 0;
}

.plan p {
  margin-bottom: 18px;
}
